.main{
    text-align: center;
    color: #155C7C;
}

.title{
    margin-top: 20px;
}

.match{
    background-color: #F5F5F5;
    margin-top: 5px;
    box-shadow: 3px 3px  2px lightgray;
}

.team-logo{
    max-width: 15px;
    max-height: 20px;
}

.a-reset{
    
    color: inherit;
    font-weight: inherit;
}

.match{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}