.team-logo{
    max-width: 15px;
    max-height: 20px;
}

.a-reset{
    
    color: inherit;
    font-weight: inherit;
}

.match{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}